/* Police importée de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

/* Police personnalisée téléchargée */
@font-face {
  font-family: rainly;
  src: url(../fonts/RainlyRegular-OVl7O.otf);
}

/* Reset des marge interne et externe */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Enlever le style par default des liens */
a {
  text-decoration: none;
  color: inherit;
}

/* Entête/Titre du blog */
.header {
  padding: 30px;
  text-align: center;
  background: white;
}

.header h1 {
  font-size: 50px;
}

/* Id pour changer la couleur de mon titre */
#home-title {
  color: #D2483D;
}

/* Créez deux colonnes inégales qui flottent l'une à côté de l'autre */
/* Colonne de droite */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Colonne de droite */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

/* Effet de carte sur les articles */
.card {
  background-color: white;
  padding: 20px;
  margin: 20px;
}

/* Éliminer le flottement après les colonnes */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Mon logo */
.logo img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 100%;
  transform: translateY(-5px);
}

/* Style de la navigation suppérieure et footer */
.topnav,
.footer {
  overflow: hidden;
  background-color: #1b1a1a;
  color: #fff;
  height: 52px;
}

/* Style des liens dans la navigation suppérieure */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Changment de couleur sur lors du survol */
.topnav a:hover,
.bottomnav a:hover {
  text-decoration: underline #D2483D;
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 0.188rem;
}

.topnav .logo:hover {
  background-color: #1b1a1a;
}

/* Style du lien lorsque nous somme sur la page */
.topnav a.active {
  text-decoration: underline #D2483D;
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 0.188rem;
}

/* Style des liens dans la navigation inferieur */
.bottomnav {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

/* Button */
.button {
  background-color: #fff;
  border-radius: 999px;
  width: 150px;
  height: 40px;
  transition:
    border-color .3s ease-out,
    color .3s ease-out;
  cursor: pointer;
  font-size: 16px;
}

.button:hover,
footer a:hover {
  border-color: #D2483D;
  color: #D2483D;
}

/* Formulaire */
.contact {
  display: flex;
  align-items: center;
  justify-content: space-around;
  row-gap: 20px;
  column-gap: 50px;
}

.input-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 20px;
}

input,
textarea {
  outline: 0;
  border: 1px solid #cccccc;
  padding: 8px;
  border-radius: 5px;
  transition: border-color .2s ease-out;
}

input:focus,
textarea:focus {
  border-color: #D2483D;
}

form {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100px 200px 60px;
  width: 600px;
  gap: 20px;
}

form .textarea {
  grid-column: 1/3;
  grid-row: 2/3;
}

textarea {
  height: 200px;
  resize: none;
}

form input[type="submit"] {
  grid-row: 3/4;
  grid-column: 1/3;
  justify-self: center;
}

/* fake image */
.fakeimg,
.card img {
  width: 300px;
}

.fakeimg img {
  width: 100%;
}

/* Application des typographie */
body {
  background-color: #F4F4F4;
  font-family: "Poppins", sans-serif;
  color: #1b1a1a;
}

h1 {
  font-family: "Lora", serif;
  text-align: center;
  margin: 50px 0;
}

h2 {
  font-family: "Lora", serif;
  color: #1b1a1a;
  text-decoration: underline #D2483D;
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 0.188rem;
  margin-bottom: 20px;
}

/* Id pour changer le style du texte "karate" */
#karate {
  font-family: rainly;
  font-size: 1.5rem;
}

.passion__image {
  width: 300px;
}

/*  Tableau personalisé  */
table {
  background-color: #fff;
  margin: 0 20px;
}

th {
  color: #fff;
  background-color: #1b1a1a;
}

tr td {
  padding: 10px;
}

/* Footer */
.footer {
  padding: 10px;
  display: grid;
  row-gap: 20px;
  text-align: center;
  margin-top: 20px;
  height: auto;
}

.footer ul {
  justify-content: center;
  width: 100%;
  display: flex;
  gap: 10px;
  list-style: none;
}

.footer ul a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cccccc;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  transition:
    border .3s ease-out,
    color .3s ease-out;
}

.footer li:nth-child(1) a:hover {
  border-color: #FF0000;
  background-color: #FF0000;
  color: white;
}

.footer li:nth-child(2) a:hover {
  color: white;
  background-color: #25D366;
  border-color: #25D366;
}

.footer li:nth-child(3) a:hover {
  border-color: #ffffff;
  background-color: #f1f1f1;
  color: #363434;
}

/* Disposition réactive : lorsque l'écran fait moins de 800 px de large, 
            empile les deux colonnes l'une sur l'autre plutôt que l'une à côté de l'autre. */
@media screen and (max-width: 800px) {

  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }

  .topnav,
  .footer {
    overflow: hidden;
    background-color: #1b1a1a;
    color: #fff;
    height: auto;
  }
}

/* Disposition réactive : lorsque l'écran fait moins de 600 px de large, 
                        empile les liens de navigation les uns sur les autres plutôt que les uns à côté des autres. */
@media screen and (max-width: 600px) {
  .topnav a {
    float: none;
    width: 100%;
  }

  /* reduire la taille de mes liens */
  .topnav__link {
    font-size: 16px;
  }

  /* reduction de la taille de mon iframe */
  form {
    width: 350px;
  }

  /* alignement en colonne de mon formulaire et de mon iframe */
  .contact {
    flex-direction: column;
  }

  /* reduction du iframe */
  iframe {
    width: 400px;
  }

  /* Aligner mes elements de navigation a  */
  .topnav {
    display: grid;
  }

  /* Centrer mon logo */
  .topnav div:first-child {
    justify-self: center;
  }
}